<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MakeMate | 유저 목록</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="css/mystyles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">

      function open_chatroom(btn){
        var parentTr = btn.closest('tr');

        var img = parentTr.querySelector('td img').src;
        var user2 = parentTr.querySelector('td:nth-child(3)'); //user2가 첫 메세지 수신자 / user1은 채팅을 시작한 사람

        let user1;
        let token = localStorage.getItem("access_token");
        if (!token) {
          window.location.href = '/';
        }
        $.ajax({
            type: "GET",
            url: "/protected", // 보호된 라우트
            headers: { "Authorization": "Bearer " + token },
            success: function (response) {
                // 사용자가 로그인 상태
                id=response["logged_in_as"]
                user1 = id;
                console.log(id)

                // 성공적으로 id를 받은 경우, 정보를 전달
                $.ajax({
                  type: "POST",
                  url: "/main/",
                  data: {'img': img, 'user1': user1, 'user2': user2},
                });
            },
            error: function (xhr, status) {
                if (xhr.status === 401) {
                    // 토큰이 만료되었거나 유효하지 않음
                    alert("로그인이 만료되었습니다.")
                    logoutUser(); // 로그아웃 처리
                }
            }
        });
      }

    </script>

  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item">
            <h1 class="title" onClick="location.href='main.html'">MakeMate</h1>
    </div>

    <div class="navbar-end">
        <div class="navbar-item">
            <a class="button is-light" onClick="location.href='login.html'">
                로그아웃
            </a>
        </div>
    </div>
    </nav>

    <div class="container list">
        <table class="table">
            <thead>
              <tr>
                <th><abbr title="Position">순서</abbr></th>
                <th><abbr title="Profile image">사진</abbr></th>
                <th><abbr title="Name">이름</abbr></th>
                <th><abbr title="Introduction">소개</abbr></th>
                <th><abbr title="Go chatroom">채팅하기</abbr></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>1</th>
                <td>
                    <img src="https://bulma.io/images/placeholders/32x32.png">
                </td>
                <td>김정글<strong>(추천)</strong></td>
                <td>자기소개 데모 텍스트</td>
                <td><a href='chatting.html' title="chatroom" onclick="return open_chatroom(this)">채팅</a></td>
              </tr>
              <tr>
                <th>2</th>
                <td>
                    <img src="https://bulma.io/images/placeholders/32x32.png">
                </td>
                <td>이정글</td>
                <td>자기소개 데모 텍스트</td>
                <td><a onClick="location.href='chatroom.html'" title="chatroom">채팅</a></td>
              </tr>
              <tr>
                <th>3</th>
                <td>
                    <img src="https://bulma.io/images/placeholders/32x32.png">
                </td>
                <td>박정글</td>
                <td>자기소개 데모 텍스트</td>
                <td><a onClick="location.href='chatroom.html'" title="chatroom">채팅</a></td>
              </tr>
              <tr>
                <th>4</th>
                <td>
                    <img src="https://bulma.io/images/placeholders/32x32.png">
                </td>
                <td>최정글</td>
                <td>자기소개 데모 텍스트</td>
                <td><a onClick="location.href='chatroom.html'" title="chatroom">채팅</a></td>
              </tr>
            </tbody>
          </table>          
    </div>

    <div class="container comment">
        <article class="media">
            <figure class="media-left">
              <p class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>사용자 이름</strong>
                  <br>
                    해당 분야에 대한 댓글
                  <br>
                </p>
              </div>              
            </div>
        </article>

        <article class="media">
            <figure class="media-left">
              <p class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>사용자 이름</strong>
                  <br>
                  해당 분야에 대한 댓글
                  <br>  
                </p>
              </div>              
            </div>
        </article>
          
          <article class="media">
            <figure class="media-left">
              <p class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png">
              </p>
            </figure>
            <div class="media-content">
              <div class="field">
                <p class="control">
                  <textarea class="textarea" placeholder="내용"></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <button class="button">댓글 작성</button>
                </p>
              </div>
            </div>
          </article>
    </div>

  </body>
</html>