<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MakeMate | 채팅방</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="static/css/mystyles.css">

    <script>
        function goMain() {
      window.location.href = '/main';
    }
    </script>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item">
            <h1 class="title" onClick="goMain()">MakeMate</h1>
        </a>
    </div>

    <div class="navbar-end">
        <div class="navbar-item">
            <a class="button is-light" onClick="location.href='login.html'">
                로그아웃
            </a>
        </div>
    </div>
    </nav>

    <div id="chatroom" class="col-6">
        <section>
            <div class="container py-5">
                <div class="row d-flex justify-content-center">
                    <div class="col">

                        <div class="card" style="border-radius: 15px;">
                            <div class="card">
                                <header class="card-header d-flex justify-content-center align-items-center p-3 bg-info text-white border-bottom-0" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                                  <p class="card-header-title" id="chatroomName">대화 중인 상대방 이름</p>
                                  <button class="delete is-medium" onclick="location.href='main.html'"></button>
                                </header>
                              </div>

                            <div class="card-body">
                                <div id="msgArea" style="height: 500px; overflow-y: auto;">
                                </div>

                                <textarea class="textarea is-success" id="chat-input" placeholder="채팅 내용" aria-label="chat input" rows="3"></textarea>
                                <div class="d-flex justify-content-end mt-2"><button class="button is-success" id="chat-send">전송</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

  </body>
</html>